.edit-message-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
}
.modal-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: beige;
  width: 600px;
  height: 400px;
}
.modal-shown {
  display: block;
}
.edit-message-title {
  font-size: 30px;
  background-color:rgb(246, 246, 176);
  border-bottom: 2px solid black;
}
.edit-message-form {
  margin: 20px;
}
.edit-message-input {
  width: 100%;
  resize: none;
  font-size: 20px;
}
.edit-mesasge-conttrols {
  display: flex;
  margin-right: auto;
  justify-content: flex-end;
  margin: 20px;
}
.edit-message-button, .edit-message-close {
  font-size: 18px;
  padding: 10px;
}
.edit-message-button {
  margin-right: 20px;
}