.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  box-shadow: none;
  background-color: beige;
  font-size: 20px;
}
.header-title {
  font-size: 20px;
  margin-left: 50px;
}
.header-users-count {
  margin-left: 50px;
}
.header-messages-count {
  margin-left: 50px;
}
.header-last-message-date {
  margin-right: 50px;
}
.header div:last-child {
  margin-left: auto;
}