.message {
  display: flex;
  max-width: 70%;
  margin: 20px 0 0 20px;
}
.message-user-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.message-main {
  background-color: bisque;
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
}
.message-user-name {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
}
.message-text {
  text-align: start;
  margin: 5px;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 5px;
}
.message-time {
  text-align: right;
}
.message-liked {
  border-radius: 50%;
  color: blue;
  font-size: 20px;
}
.message-like {
  font-size: 20px;
  color: grey;
}
